@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    font-family: "Quicksand", sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    padding: 0 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 100px;
}

header a {
    display: inline;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

header a:hover {
    border-bottom: 2px solid orange;
}

/* Home Start */



#home {
    background-image: url(img/home_bg.jpeg);
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

#home::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

#home * {
    position: relative;
    z-index: 1;
}

#home .content {
    /* background-color: red; */
    padding: 40px;
    height: 80%;
    display: flex;
    text-align: center;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;

}

#home .content h1 {
    display: block;
    font-size: 40px;
    color: white;
    margin-bottom: 30px;
}

#home .content h1 span {
    color: #e4b95b;
}

#home .content p {
    color: white;
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 40px;
}

#home .content .btn {
    margin: 0 auto;
    background-color: transparent;
    text-decoration: none;
    /* background-color:transparent; */
    color: white;
    padding: 15px 25px;
    border: 1px solid white;
    border-radius: 15px;
    width: 9em;
    padding: 15px;
}

#home .content .btn:hover {
    background-color: #e4b95b;
}

/* Home End */
/* About start */
#about {
    background-color: whitesmoke;
}

#about section .nav {
    padding: 50px;
    text-align: center;
}

#about section .nav h2 {
    color: #383848;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
}

#about section .nav p {
    color: 9a9a9a;
    font-weight: 300;
    font-size: 14px;
}

.about-content {
    display: flex;
    justify-content: space-around;
    padding: 1rem 9rem;
}

.about-content img {
    width: 450px;
    padding-bottom: 3rem;
}

.about-content p {
    color: 9a9a9a;
    font-weight: 400;
    width: 500px;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 40px;
}

.about-content .content-text .btn,
#menu .btn {
    margin: 0 auto;
    background-color: transparent;
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    background-color: #383848;
    border-radius: 15px;
}

.about-content .content-text .btn:hover {
    background-color: #e4b95b;
}

/* About End  */







/* offers Start */

#offers {
    background-image: url(img/offer-background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#offers .offers-nav {
    padding: 50px;
    text-align: center;
}

#offers .offers-nav h2 {
    color: #e4b95b;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
}

#offers .offers-nav p {
    color: white;
    font-weight: 600;
    font-size: 16px;
}


#offers {
    height: 80vh;
}

.offers-cards {
    display: flex;
    text-align: center;
    justify-content: center;
    /* align-items: center; */
    color: white;
}

.offers-card img {
    width: 200px;
    margin-bottom: 20px;

}

.offers-card h2 {
    margin-bottom: 20px;
}

.offers-cards p {
    font-size: 14px;
    margin-bottom: 20px;
}

.offers-cards {
    padding: 0;
}

.offers-card p {
    width: 300px;
}

.offers-card p span {
    padding-left: 5px;
    color: #e4b95b;
    font-size: 17px;
    font-weight: 700;
}

.offers-card {
    padding: 0 30px;
}

/* Offers End */

/* Menu Start */
#menu {
    background-color: #f4f4f4;
    padding: 5rem 0;
}

#menu .title {
    text-align: center;
    margin-bottom: 4rem;
}

#menu h2 {
    color: #383848;
    font-size: 40px;
    margin-bottom: 20px;
}

#menu .title p {
    font-size: 14px;
    color: #9a9a9a;
    font-weight: 600;
}

#menu .contaner .menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    /* width: 70%; */
}

#menu .menu-items .menu-item img {
    width: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

#menu .menu-items .menu-item h3 {
    color: #383848;
    margin-bottom: 10px;
    border-bottom: dashed 1px #2cbdbd;
    padding-bottom: 10px;
    position: relative;
}

#menu .menu-items .menu-item h3 span {
    color: #e4b95b;
    position: absolute;
    top: 0;
    right: 0;
}

#menu .menu-items .menu-item p {
    margin-top: 10px;
}


#menu .btn {
    display: block;
    margin: auto;
    text-align: center;
    /* width: 100px; */
    color: white;
    padding: 20 40px;
    background-color: #e4b95b;
    border-radius: 15px;
    border: 2px white;
    cursor: pointer;

}

#menu .btn:hover {
    background-color: #383848;
}

#day-time {
    background: url(img/daytime_bg.jpeg)center center/cover fixed no-repeat;
    color: white;
    text-align: center;
}

.daytime-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
}

#day-time .daytime-items h3 {
    font-size: 32px;
    margin: 20px 0 10px;
}

/* Menu End */


/* Gallery Start */

#gallery {
    background: url(img/offer-background.jpg) center center/cover no-repeat;
    padding: 8rem 0 6rem;
    /* height: 100vh; */
}

#gallery h2 {
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}


#gallery .img-gallery {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: all 1s ease;
}

#gallery .img-gallery img {
    width: 280px;
    height: 200px;
    opacity: 0.8;
    border-radius: 15px;
    margin: 20px;
}

#gallery .img-gallery img:hover {
    transform: scale(1.1);
    opacity: 1;
}


/* Gallery End */


/* Contact Start */
#contact {
    padding: 5rem 0;
    background-color: #f4f2ed;
}

#contact .contaner {
    max-width: 900px;
    display: block;
    margin: auto;
}

.contact-content {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-content .contact-info {
    width: 50%;
}

.contact-content .contact-info i {
    color: #e4b95b;
}

.contact-content .contact-info div {
    margin: 30px 0;
    line-height: 1.7;

}

.contact-content .contact-info h3 {
    font-size: 28px;
    color: #383848;
    margin-bottom: 20px;

}

.contact-content .contact-info p {
    color: #9a9a9a;
}

#contact .contact-content .contact-info a i {
    width: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #383848;
    padding: 15px;
    border-radius: 50%;
    font-size: 20px;
}

#contact .contact-content .contact-info a i:hover {
    background-color: #e4b95b;
    color: #383848;
}

form {
    width: 50%;
}

form input,
textarea {
    display: block;
    width: 400%;
    padding: 20px 15px;
    margin: 20px 0;
    border: none;
    background-color: #e3e2dd;
}

#contact .btn {
    color: white;
    padding: 10px 45px;
    background-color: #e4b95b;
    border-radius: 15px;
    border: 2px white;
    cursor: pointer;
}

#contact .btn:hover {
    background-color: #383848;
}

/* Contact End */
/*  Footer Start  */
footer {
    background: #383848;
    height: auto;
}

footer p {
    text-align: center;
    color: #fff;
    padding: 15px 0;
    font-size: 14px;
}

footer p a {
    color: #fff;
    text-decoration: none;
}

/*  Footer End */